body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
#header{
    background-color: orange;
    padding: 20px 0;
    text-align: center;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

 .intro, .highlights, .qualifications{
    margin-bottom: 20px;
 }
 .highlights li, .qualifications li{
    background-color: black;
    color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
   
    
 }

 .cta-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 5px;
   
 }
 footer{
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
 }