body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
header {
    background-color: orangered;
    color: #fff;
    padding: 10px 20px;
  }
  
    nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links{
    list-style: none;
    display: flex;
    gap: 15px;
          
}
.nav-links li {
    padding: 5px 10px;
  }
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
h1{
    color: red;
    font-size: 2rem;
}
p{
    width: 200px;
    padding: 10px;

}
img{
    border: 2px solid black;
    border-radius: 10px;
    /* width: 200px;
    height: 100px; */
}
button{
    background-color: blue;
    color: white;
    width: 80px;
    height: 30px;
    outline: none;
    border-radius: 5px;
}
